{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/contacts" method="post">
    <fieldset>
      <legend>Create a New Contact</legend>
      <label>
        NAME:<input type="text" name="name" placeholder="enter contact name" />
      </label>
      <label>
        NUMBER:<input type="text" name="number" placeholder="enter contact number" />
      </label>
      <label>
        EMAIL:<input type="text" name="email" placeholder="enter contact email" />
      </label>
      <label>
        WEBPAGE:<input type="text" name="webpage" placeholder="enter contact webpage" />
      </label>
      <label>
        ADDRESS:<input type="text" name="address" placeholder="enter contact address" />
      </label>
    </fieldset>
    <input type="submit" value="create new contact" />
  </form>
  <a href="/contacts/"><button>Back to Index</button></a>
</div>
{% endblock %}